<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>editform</title>
  </head>
  <body>
    <h2>add user</h2>
    <form action="/biodata/add" method="POST">
      First name: <br />
      <input type="text" , name="name" /><br />
      gender:<br />
      <input type="text" , name="gender" /><br />
      <br />
      Birthdate:<br />
      <input name="dob" type="date" /><br />
      status:<br />
      <input type="text" , name="status" /><br />
      <br />
      <input type="submit" /><br />
    </form>
  </body>
</html>